@media (max-width: 1200px) {
    main section {
        padding: 10rem 2rem; /* Ajuste o padding para telas menores */
    }

    main .main-section h2 {
        font-size: 1.3rem;
    }

    main .spirited-section > div:first-child p {
        font-size: 1.8rem;
    }

    main .spirited-section p {
        font-size: 1.3rem;
    }

    main .iphone-section h2 {
        font-size: 2.5rem;
    }

    main .iphone-section p {
        font-size: 1.3rem;
    }
}

@media (max-width: 992px) {
    main section {
        padding: 8rem 1.5rem; /* Ajuste o padding para telas menores */
    }

    main .main-section h2 {
        font-size: 1.1rem;
    }

    main .spirited-section > div:first-child p {
        font-size: 1.6rem;
    }

    main .spirited-section p {
        font-size: 1.1rem;
    }

    main .iphone-section h2 {
        font-size: 2rem;
    }

    main .iphone-section p {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    main section {
        padding: 6rem 1rem; /* Ajuste o padding para telas menores */
    }

    main .main-section h2 {
        font-size: 1rem;
    }

    main .spirited-section > div:first-child p {
        font-size: 1.4rem;
    }

    main .spirited-section p {
        font-size: 1rem;
    }

    main .iphone-section h2 {
        font-size: 1.8rem;
    }

    main .iphone-section p {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    main section {
        padding: 4rem 0.5rem; /* Ajuste o padding para telas menores */
    }

    main .main-section h2 {
        font-size: 0.9rem;
    }

    main .spirited-section > div:first-child p {
        font-size: 1.2rem;
    }

    main .spirited-section p {
        font-size: 0.9rem;
    }

    main .iphone-section h2 {
        font-size: 1.5rem;
    }

    main .iphone-section p {
        font-size: 0.9rem;
    }
}